.places {
    display: grid;
    row-gap: 80px;
    max-width: calc(100% - 296px);
    margin: 0 auto;
    padding: 92px 0 92px 0;
}

@media screen and (max-width: 1279px) {
    .places {
        max-width: calc(100% - 96px);
    }
}

@media screen and (max-width: 1023px) {
    .places {
        max-width: calc(100% - 48px);
        padding: 88px 0 90px 0;
        row-gap: 73px;
    }
}

@media screen and (max-width: 767px) {
    .places {
        padding: 64px 0 64px 0;
        max-width: calc(100% - 32px);
        row-gap: 50px;
    }
}

@media screen and (max-width: 400px) {   /*прижать картинку к краям*/
    .places {
        padding: 64px 0 64px 0;
        max-width: 100%;
    }
}
