.places__title {
    font-family: inter;
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    color: #FFFFFF;
    max-width: 440px;
    align-self: end;
    margin: 0 0 48px 0;
}

@media screen and (max-width: 767px) {
    .places__title {
    max-width: 288px;
    margin: 0;
    }
}

@media screen and (max-width: 400px) {
    .places__title {
        font-style: normal;
        font-weight: 900;
        font-size: 32px;
        line-height: 35px;
        margin:0 0 16px 16px;
    }
}